@media only screen and (max-width: 599px) {

    .site-content {
        margin: .5em;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    
    .table-responsive {
        padding: 1em 0;
    }
    
    tr { 
        border: 3px solid #ccc; 
    }
	
	td { 
		/* Behave  like a "row" */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
		border-bottom: 5px solid #eee; 
	}
	
	td:before { 
		/* Now like a table header */
		white-space: nowrap;
	}

	/*
	Label the data
	*/
    td:nth-of-type(2):before { content: "Name:"; }
	td:nth-of-type(3):before { content: "Cuisine:"; }
	td:nth-of-type(4):before { content: "Price:"; }
	td:nth-of-type(5):before { content: "Visited:"; }
	td:nth-of-type(6):before { content: "Favorite:"; }
	td:nth-of-type(7):before { content: "Priority:"; }
}

body {
    background: url(../images/home.jpg) no-repeat left;
    background-size: cover;
    opacity: 1.0;
    filter: alpha(opacity=30);
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
    margin: 3em;
    padding: 2em .75em;
    background: rgba(255, 255, 255, .75);
    font-weight: bold;
    border: 10px solid #528230;
}

.header {
    padding: 2em 2em .5em;
    background-color: #515866;
    border-bottom: 15px solid #d1c944;
}

.nav a {
    text-decoration: none;
    color: #fff3b0;
}

.nav-link:hover {
    background-color: #31353d;
    color: #fff3b0;
    font-weight: bold;
}

h3 {
    padding-bottom: 10px;
}

.table-responsive {
    padding: 1em;
    text-transform: capitalize;
}

.d-flex {
    justify-content: space-around;
}

th:first-of-type, td:first-of-type {
    display: none;
}

th:nth-child(8), th:nth-child(9) {
    display: none;
}

td:nth-child(9), td:nth-child(10) {
    display: none;
}

/* Footer layout */
.footer {
    flex-shrink: 0;
    text-align: center;
    padding: 1em .5em;
    background-color: #515866;
    color: #fff3b0;
    font-weight: bold;
}

@media screen and (min-width: 600px) {

    .nav {
        margin-right: 5rem;
    }

    .site-content { 
        margin: 6em 5em 6em 5em;
        
    }

}
