/* html, body {
    height: 100%;
} */

body {
    background: url(../images/home.jpg) no-repeat left;
    background-size: cover;
    opacity: 1.0;
    filter: alpha(opacity=30);
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
    margin: 3em;
    padding: 2em .75em;
    background: rgba(255, 255, 255, .75);
    font-weight: bold;
    border: 10px solid #528230;
}

.header {
    padding: 2em 2em .5em;
    background-color: #515866;
    border-bottom: 15px solid #d1c944;
}

.nav a {
    text-decoration: none;
    color: #fff3b0;
}

.nav-link:hover {
    background-color: #31353d;
    color: #fff3b0;
    font-weight: bold;
}

h3 {
    padding-bottom: 10px;
}

.load-btn {
    border: 2px solid #515866;
    font-weight: bold;
}

.table-responsive {
    padding: 1em;
    text-transform: capitalize;
}

th:first-of-type, td:first-of-type {
    display: none;
}

/* Footer layout */
.footer {
    flex-shrink: 0;
    text-align: center;
    padding: 1em .5em;
    background-color: #515866;
    color: #fff3b0;
    font-weight: bold;
}


@media screen and (min-width: 600px) {

    .nav {
        margin-right: 5rem;
    }

    .site-content { 
        margin: 6em 5em 6em 5em;
        
    }

}
